<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="internal.css">
</head>
<body>
    <h1>Collector Dashboard: <%= user_name %> </h1>
    <div class="interface">
        <a href="/collection?user=<%=user_name%>">Manage Collection</a>
        <a href="/friends">Friends</a>
        <form action="/logout?_method=DELETE" method="post">
            <button class="logoutButton" type="submit">Log out</button>
        </form>
    </div>
</body>
</html>