<!DOCTYPE html>
<head>
    <title>AC Collector</title>
    <link rel="stylesheet" href="styleform.css">
</head>
<body>
    <h1>Welcome to AC Collector</h1>
    <p>Keep track of your Animal Crossing collections!</p>
    <a href="/login">Login</a>
    <a href="/register">Create Account</a>
</body>