<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styleform.css">
</head>
<body>
    <h1>Island already registered?</h1>
    <p>We can connect your fossil collection with other users on your island!</p>
    <a href="/register-new">Create a new island</a>
    <a href="/register-join">Join an existing island</a>
</body>
</html>